hackathon/*.pyc
ourplatform/*.pyc
ourplatform/migrations/*.pyc

*.orig
ourplatform/*.orig

*.swp
ourplatform/*.swp
ourplatform/templates/*.swp
ourplatform/static/*.swp

*.~
ourplatform/*.~
ourplatform/templates/*.~
ourplatform/static/*.~
db.sqlite3
